# ======================
# Flutter - .gitignore
# ======================

# Builds y artefactos
/build/
/ios/
/android/
/web/
/firebase/

# Dependencias
/.dart_tool/
/.packages
/.flutter-plugins
/.flutter-plugins-dependencies
/pubspec.lock

# Configuración local
*.env
*.env.local

# Archivos IDE
.idea/
.vscode/
*.iml
*.swp
*.swo

# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Logs y caché
.flutter/
*.log
/logs/

# Archivos generados
*.g.dart
*.freezed.dart
*.part.dart